

/* SIMPLE SELECTORS

h1 {  
    color: red;  
}

h2 {  
    color: rgb(90, 84, 179);  
}

class selector
.test-class {
    color:rgb(18, 203, 40)
}

id selector
#about-me {  
    font-size: 20px
}

*/

/* COMBINATOR SELECTORS

desecendent selector
.my-class h3 {
    color: blue;
}

child selector
.my-class > p {
    color: red
}

adjacent sibling selector
p + img {
    height: 140px;
}

general sibling selector
h3 + img {
    height: 140px;
}
*/

/* Pseudo-Class Selectors (few popular ones) */
/* :hover, :active, :visited, :checked */

/* :checked 
#box:checked {
    outline: 3px solid green
}

#box:checked + label {
    outline: 3px solid green
}
*/

/* :hover
#socials p :hover {
    color:aqua;
    font-size: 20px;
}
*/

/* :disbabled 
#socials :disabled {
     color: blueviolet
    }
*/

/* :disbabled 
#socials :disabled {
     color: blueviolet
    }
*/

/* :visited - only applies to <a> and <area> elements with href attribute
a :visited {
    color: rgb(255, 0, 81)
   }
*/


/* PSEUDO-ELEMENT SELECTORS

.my-class > p::first-letter {
    color: red;
}

.my-class > p:: after {
   content: "";
   background-color: palegoldenrod;
   height: 20px;
   width: 50%;
   position: absolute;
   left: 20px;
   z-index: -1;}

*/



/* Atrtribute Selectors
selector [attribute="value"] {}

we have HTML code:
<div>
    <a href="facebook.com" data-anchor="social">Facebook</a>
    <a href="instagram.com" data-anchor="social">Instagram</a>
    <a href="#top" data-anchor="innerLink">
</div>

we can target first two with the following CSS:
a[data-anchor="social"] {}
*/

/* Specicifity

we have HTML code:
<h1>Manchester Codes</h1>
<p id="intro">Established in 2017, 
we are the original part-time coding school.</p>
<p>We currently have 2 different courses: 
Introduction to Programming and Software Engineer FastTrack.<p>

* {
    font-family: Arial, Verdana, sans-serif;
}

h1 {
    font-family: "Courier New", monospace;
}

p {
    color: black;
}

p#intro {
    color: yellow;
}

h1 is more specific than *, so it will take precedence. 
The same happens for p#intro being more specific than p.

*/

